<% layout('/layouts/default.html', {title: '用户游戏记录管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('用户游戏记录管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${hgameUserRef}" action="${ctx}/xiao/hgameUserRef/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户名称')}：</label>
					<div class="control-inline">
						<#form:input path="hgameUserInfo.username" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('游戏状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('完成等级')}：</label>
					<div class="control-inline">
						<#form:input path="levelsCompleted" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户呵豆')}：</label>
					<div class="control-inline">
						<#form:input path="hgameUserInfo.hbeans" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('游戏金币')}：</label>
					<div class="control-inline">
						<#form:input path="gold" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('游戏分数')}：</label>
					<div class="control-inline">
						<#form:input path="totalScore" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('游戏道具')}：</label>
					<div class="control-inline">
						<#form:input path="boostersCount" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="created_gte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
						dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm" data-done="created_lte.click()"/>
						&nbsp;-&nbsp;
						<#form:input path="created_lte" readonly="true" maxlength="20" class="form-control laydate width-datetime"
						dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("游戏名称")}', name:'hgameInfo.name', width:150, align:"center"},
		{header:'${text("用户类型")}', name:'hgameUserInfo.type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('nada_game_user_type')}, val, '${text("未知")}', true);
		}},
		{header:'${text("用户名称")}', name:'hgameUserInfo.username', width:150, align:"center"},
		{header:'${text("游戏状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("完成等级")}', name:'levelsCompleted', index:'a.levels_completed', width:150, align:"center"},
		{header:'${text("用户呵豆")}', name:'hgameUserInfo.hbeans', width:150, align:"center"},
		{header:'${text("游戏金币")}', name:'gold', index:'a.gold', width:150, align:"center"},
		{header:'${text("游戏分数")}', name:'totalScore', index:'a.total_score', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		/*{header:'${text("游戏道具")}', name:'boostersCount', index:'a.boosters_count', width:150, align:"left"},*/
		/*{header:'${text("游戏星级")}', name:'starsPerLevel', index:'a.stars_per_level', width:150, align:"left"},*/
		{header:'${text("创建时间")}', name:'created', index:'a.created', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:50, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('xiao:hgameUserRef:edit')){ %>
				actions.push('<a href="${ctx}/xiao/hgameUserRef/form?id='+row.id+'" class="btnList" title="${text("编辑用户游戏")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				/*actions.push('<a href="${ctx}/xiao/hgameUserRef/delete?id='+row.id+'" class="btnList" title="${text("删除用户游戏")}" data-confirm="${text("确认要删除该用户游戏吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');*/
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>
