<% layout('/layouts/default.html', {title: '出款管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('出款管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('order:cash:edit')){ %>
					<a href="${ctx}/order/cash/form" class="btn btn-default btnTool" title="${text('新增出款')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${cash}" action="${ctx}/order/cash/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('类型')}：</label>
					<div class="control-inline">
						<#form:input path="type" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态 1')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户ID')}：</label>
					<div class="control-inline">
						<#form:input path="userId" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('提现金额')}：</label>
					<div class="control-inline">
						<#form:input path="cashMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('提现手续费')}：</label>
					<div class="control-inline">
						<#form:input path="serviceCharge" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('提现地址')}：</label>
					<div class="control-inline">
						<#form:input path="ipaddress" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('邮箱')}：</label>
					<div class="control-inline">
						<#form:input path="email" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手机号码')}：</label>
					<div class="control-inline">
						<#form:input path="phoneNumber" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('提款账户')}：</label>
					<div class="control-inline">
						<#form:input path="accountNo" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('提款豹纹')}：</label>
					<div class="control-inline">
						<#form:input path="cashMessage" maxlength="3200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="created" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updated" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('删除标志')}：</label>
					<div class="control-inline">
						<#form:input path="delFlag" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("类型")}', name:'type', index:'a.type', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/order/cash/form?id='+row.id+'" class="btnList" data-title="${text("编辑出款")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("状态 1")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("用户ID")}', name:'userId', index:'a.user_id', width:150, align:"center"},
		{header:'${text("提现金额")}', name:'cashMoney', index:'a.cash_money', width:150, align:"center"},
		{header:'${text("提现手续费")}', name:'serviceCharge', index:'a.service_charge', width:150, align:"center"},
		{header:'${text("提现地址")}', name:'ipaddress', index:'a.ipaddress', width:150, align:"left"},
		{header:'${text("名称")}', name:'name', index:'a.name', width:150, align:"left"},
		{header:'${text("邮箱")}', name:'email', index:'a.email', width:150, align:"left"},
		{header:'${text("手机号码")}', name:'phoneNumber', index:'a.phone_number', width:150, align:"left"},
		{header:'${text("提款账户")}', name:'accountNo', index:'a.account_no', width:150, align:"left"},
		{header:'${text("提款豹纹")}', name:'cashMessage', index:'a.cash_message', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'created', index:'a.created', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updated', index:'a.updated', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("删除标志")}', name:'delFlag', index:'a.del_flag', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('order:cash:edit')){ %>
				actions.push('<a href="${ctx}/order/cash/form?id='+row.id+'" class="btnList" title="${text("编辑出款")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/order/cash/delete?id='+row.id+'" class="btnList" title="${text("删除出款")}" data-confirm="${text("确认要删除该出款吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>