<% layout('/layouts/default.html', {title: '用户账户明细管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('用户账户明细管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('user:userAccountDetail:edit')){ %>
					<a href="${ctx}/user/userAccountDetail/form" class="btn btn-default btnTool" title="${text('新增用户账户明细')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${userAccountDetail}" action="${ctx}/user/userAccountDetail/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户id')}：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('账户ID')}：</label>
					<div class="control-inline">
						<#form:input path="accountId" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('标题')}：</label>
					<div class="control-inline">
						<#form:input path="title" maxlength="520" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('类型 1')}：</label>
					<div class="control-inline">
						<#form:input path="type" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('唯一标识')}：</label>
					<div class="control-inline">
						<#form:input path="unique" maxlength="128" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('总资金')}：</label>
					<div class="control-inline">
						<#form:input path="totalMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('可用资金')}：</label>
					<div class="control-inline">
						<#form:input path="availableMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('仓库资金')}：</label>
					<div class="control-inline">
						<#form:input path="warehouseMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('收入资金')}：</label>
					<div class="control-inline">
						<#form:input path="incomeMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('云资产')}：</label>
					<div class="control-inline">
						<#form:input path="aiAssetsMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('佣金账户')}：</label>
					<div class="control-inline">
						<#form:input path="commissionMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('增值账户')}：</label>
					<div class="control-inline">
						<#form:input path="incrementMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('可提取账户')}：</label>
					<div class="control-inline">
						<#form:input path="claimableMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('奖励账户')}：</label>
					<div class="control-inline">
						<#form:input path="rewardMoney" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="created" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('更新时间')}：</label>
					<div class="control-inline">
						<#form:input path="updated" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('删除标志')}：</label>
					<div class="control-inline">
						<#form:input path="delFlag" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('收入支出')}：</label>
					<div class="control-inline">
						<#form:input path="ledgerType" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("用户id")}', name:'userId', index:'a.user_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/user/userAccountDetail/form?id='+row.id+'" class="btnList" data-title="${text("编辑用户账户明细")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("账户ID")}', name:'accountId', index:'a.account_id', width:150, align:"left"},
		{header:'${text("标题")}', name:'title', index:'a.title', width:150, align:"left"},
		{header:'${text("类型 1")}', name:'type', index:'a.type', width:150, align:"center"},
		{header:'${text("唯一标识")}', name:'unique', index:'a.unique', width:150, align:"left"},
		{header:'${text("总资金")}', name:'totalMoney', index:'a.total_money', width:150, align:"left"},
		{header:'${text("可用资金")}', name:'availableMoney', index:'a.available_money', width:150, align:"left"},
		{header:'${text("仓库资金")}', name:'warehouseMoney', index:'a.warehouse_money', width:150, align:"left"},
		{header:'${text("收入资金")}', name:'incomeMoney', index:'a.income_money', width:150, align:"left"},
		{header:'${text("云资产")}', name:'aiAssetsMoney', index:'a.ai_assets_money', width:150, align:"left"},
		{header:'${text("佣金账户")}', name:'commissionMoney', index:'a.commission_money', width:150, align:"left"},
		{header:'${text("增值账户")}', name:'incrementMoney', index:'a.increment_money', width:150, align:"left"},
		{header:'${text("可提取账户")}', name:'claimableMoney', index:'a.claimable_money', width:150, align:"left"},
		{header:'${text("奖励账户")}', name:'rewardMoney', index:'a.reward_money', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'created', index:'a.created', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updated', index:'a.updated', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.REMARKS', width:150, align:"left"},
		{header:'${text("删除标志")}', name:'delFlag', index:'a.DEL_FLAG', width:150, align:"left"},
		{header:'${text("收入支出")}', name:'ledgerType', index:'a.ledger_type', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('user:userAccountDetail:edit')){ %>
				actions.push('<a href="${ctx}/user/userAccountDetail/form?id='+row.id+'" class="btnList" title="${text("编辑用户账户明细")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/user/userAccountDetail/delete?id='+row.id+'" class="btnList" title="${text("删除用户账户明细")}" data-confirm="${text("确认要删除该用户账户明细吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>