<% layout('/layouts/default.html', {title: '会员用户管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('会员用户管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('user:userInfo:edit')){ %>
					<a href="${ctx}/user/userInfo/form" class="btn btn-default btnTool" title="${text('新增会员用户')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${userInfo}" action="${ctx}/user/userInfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="form-group">
				<label class="control-label">${text('用户账号')}：</label>
				<div class="control-inline">
					<#form:input path="accountNo" maxlength="250" class="form-control width-120"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('用户状态')}：</label>
				<div class="control-inline width-120">
					<#form:select path="userStatus" dictType="aurora_user_status" blankOption="true" class="form-control isQuick"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('解锁状态')}：</label>
				<div class="control-inline width-120">
					<#form:select path="lock" dictType="aurora_user_lockstatus" blankOption="true" class="form-control isQuick"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">${text('创建时间')}：</label>
				<div class="control-inline">
					<#form:input path="created" readonly="true" maxlength="20" class="form-control laydate width-datetime"
						dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
				<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
			</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("用户账号")}', name:'accountNo', index:'a.account_no', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/user/userInfo/form?id='+row.id+'" class="btnList" data-title="${text("编辑用户")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("用户状态")}', name:'userStatus', index:'a.user_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('aurora_user_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("解锁状态")}', name:'lock', index:'a.lock', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('aurora_user_lockstatus')}, val, '${text("未知")}', true);
		}},
		{header:'${text("会员等级")}', name:'level', index:'a.level', width:150, align:"center"},
		{header:'${text("邀请码")}', name:'inviteCode', index:'a.invite_code', width:150, align:"center"},
		{header:'${text("登陆IP")}', name:'loginIp', index:'a.login_ip', width:150, align:"left"},
		{header:'${text("操作员上级")}', name:'parentSysId', index:'a.parent_sys_id', width:150, align:"left"},
		{header:'${text("一级ID")}', name:'parent1UserId', index:'a.parent1_user_id', width:150, align:"left"},
		{header:'${text("二级ID")}', name:'parent2UserId', index:'a.parent2_user_id', width:150, align:"left"},
		{header:'${text("三级ID")}', name:'parent3UserId', index:'a.parent3_user_id', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'created', index:'a.created', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('user:userInfo:edit')){ %>
				actions.push('<a href="${ctx}/user/userInfo/form?id='+row.id+'" class="btnList" title="${text("编辑会员用户")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/user/userInfo/delete?id='+row.id+'" class="btnList" title="${text("删除会员用户")}" data-confirm="${text("确认要删除该会员用户吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>