<% layout('/layouts/default.html', {title: '账户明细', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('账户明细')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('user:userAccountDetail:edit')){ %>
					<a href="${ctx}/user/userAccountDetail/form" class="btn btn-default btnTool" title="${text('新增用户账户明细')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${userAccountDetail}" action="${ctx}/user/userAccountDetail/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
			<div class="form-group">
				<label class="control-label">${text('用户名称')}：</label>
				<div class="control-inline">
					<#form:input path="userInfo.accountNo" maxlength="30" class="form-control width-120"/>
				</div>
			</div>
				<div class="form-group">
					<label class="control-label">${text('明细标题')}：</label>
					<div class="control-inline">
						<#form:input path="title" maxlength="520" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('账户收支')}：</label>
					<div class="control-inline width-120">
						<#form:select path="ledgerType" dictType="aurora_ledger_type" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="created" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("用户名称")}', name:'userInfo.accountNo', index:'a.user_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/user/userAccountDetail/form?id='+row.id+'" class="btnList" data-title="${text("编辑账户明细")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("明细标题")}', name:'title', index:'a.title', width:150, align:"left"},
		{header:'${text("账户类型")}', name:'type', index:'a.type', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('aurora_account_type')}, val, row.type, true);
		}},
		{header:'${text("账户收支")}', name:'ledgerType', index:'a.ledgerType', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('aurora_ledger_type')}, val, row.type, true);
		}},
		{header:'${text("充值资金")}', name:'rechargeMoney', index:'a.recharge_money', width:150, align:"left"},
		{header:'${text("总资金")}', name:'totalMoney', index:'a.total_money', width:150, align:"left"},
		{header:'${text("可用资金")}', name:'availableMoney', index:'a.available_money', width:150, align:"left"},
		{header:'${text("佣金账户")}', name:'commissionMoney', index:'a.commission_money', width:150, align:"left"},
		{header:'${text("增值账户")}', name:'incrementMoney', index:'a.increment_money', width:150, align:"left"},
		{header:'${text("可提取账户")}', name:'claimableMoney', index:'a.claimable_money', width:150, align:"left"},
		{header:'${text("奖励账户")}', name:'rewardMoney', index:'a.reward_money', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'created', index:'a.created', width:250, align:"center"},
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>