<% layout('/layouts/default.html', {title: '交易订单管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('交易订单管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('order:orderPay:edit')){ %>
					<a href="${ctx}/order/orderPay/form" class="btn btn-default btnTool" title="${text('新增交易订单')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${orderPay}" action="${ctx}/order/orderPay/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户名称')}：</label>
					<div class="control-inline">
						<#form:input path="userInfo.accountNo" maxlength="30" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('订单状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="orderStatus" dictType="aurora_pay_order_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('订单号')}：</label>
					<div class="control-inline">
						<#form:input path="orderNo" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('平台订单号')}：</label>
					<div class="control-inline">
						<#form:input path="porderNo" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('账户名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('创建时间')}：</label>
					<div class="control-inline">
						<#form:input path="created" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("用户名称")}', name:'userInfo.accountNo', index:'a.user_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/order/orderPay/form?id='+row.id+'" class="btnList" data-title="${text("编辑交易订单")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("订单号")}', name:'orderNo', index:'a.order_no', width:150, align:"left"},
		{header:'${text("支付金额")}', name:'payMoney', index:'a.pay_money', width:150, align:"left"},
		{header:'${text("订单状态")}', name:'orderStatus', index:'a.order_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('aurora_pay_order_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("平台订单号")}', name:'porderNo', index:'a.p_order_no', width:150, align:"left"},
		{header:'${text("名称")}', name:'name', index:'a.name', width:150, align:"left"},
		{header:'${text("邮箱")}', name:'email', index:'a.email', width:150, align:"left"},
		{header:'${text("电话号码")}', name:'phoneNumber', index:'a.phone_number', width:150, align:"left"},
		{header:'${text("支付费率")}', name:'payRate', index:'a.pay_rate', width:150, align:"left"},
		{header:'${text("创建时间")}', name:'created', index:'a.created', width:150, align:"center"},
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>